Repository MindWorkAI/AI-Studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MindWorkAI/maintainer, @MindWorkAI/release, @MindWorkAI/rust-experts, @MindWorkAI/net-experts

Renamed the .NET backend executable; important for Linux Debian installations using the *.deb installer
  .github/workflows/build-and-release.yml
  runtime/tauri.conf.json
Owners: @MindWorkAI/release, @MindWorkAI/rust-experts

Fixed .NET server name when starting sidecar
  runtime/src/main.rs
Owners: @MindWorkAI/rust-experts

Re-added images without git lfs
  app/MindWork AI Studio/wwwroot/system/MudBlazor.Markdown/code-styles/pojoaque.jpg
  runtime/ui/icon.jpg
Owners: @MindWorkAI/net-experts, @MindWorkAI/rust-experts

Implemented first steps to build Tauri update file
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed workspace path input to download action
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed signature handling through a temporary file
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Test update file job without linux on ARM64
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed missing .update directory
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Store update platform to artifact
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Implemented the final format of latest.json
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Integrated debug logging for building platform JSON
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Added another debug log
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed the bash-while-subshell problem
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Use process substitution as a solution for the subshell issue
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed Windows-based newline issue on platforms
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Remove the MSI installer to simplify the automatic update process, cf. https://github.com/tauri-apps/tauri/discussions/8963
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Spelling
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Switch to use the major version
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Read the provided metadata
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Use .NET, Rust, and Tauri versions as provided by the metadata
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed Rust version
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Removed redundant .NET quality setting
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed .NET versions
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed wording for .NET version
  app/MindWork AI Studio/Components/Pages/About.razor
  app/MindWork AI Studio/Components/Pages/About.razor.cs
Owners: @MindWorkAI/net-experts

Fixed metadata handling for Windows and PowerShell
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed handling of versions on Windows
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed PowerShell script
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Check linux-arm64
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed Rust env
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed installation of tauri-cli
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Upgraded dependencies
  app/MindWork AI Studio/MindWork AI Studio.csproj
  app/MindWork AI Studio/packages.lock.json
  metadata.txt
Owners: @MindWorkAI/net-experts, @MindWorkAI/maintainer

Read changelog from repo
  .github/workflows/build-and-release.yml
  metadata.txt
Owners: @MindWorkAI/release, @MindWorkAI/maintainer

Update
  app/MindWork AI Studio/packages.lock.json
Owners: @MindWorkAI/net-experts

Changed latest.json to be part of any release
  runtime/tauri.conf.json
Owners: @MindWorkAI/rust-experts

Fixed artifact naming & collect all at dedicated release folder
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed platform JSON creation
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Use different retention policies for intermediate artifacts & release assets
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed the upload path
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Ignore the platform files
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

Fixed upload folder of release assets again
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

.github/CODEOWNERS:

# The default rule is that the maintainers are responsible for everything:
* @MindWorkAI/maintainer

# The release team is responsible for anything inside the .github directory, such as workflows, actions, and issue templates:
/.github/ @MindWorkAI/release

# The release team is responsible for the update directory:
/.updates/ @MindWorkAI/release

# Our Rust experts are responsible for the Rust codebase:
/runtime/ @MindWorkAI/rust-experts

# Our .NET experts are responsible for the .NET codebase:
/app/ @MindWorkAI/net-experts
