Repository MindWorkAI/AI-Studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MindWorkAI/maintainer, @MindWorkAI/release, @SommerEngineering, @MindWorkAI/rust-experts, @MindWorkAI/net-experts

Fixed a layout bug within the chat page, where the top part uses too much space
  app/MindWork AI Studio/Components/ProviderSelection.razor
  app/MindWork AI Studio/wwwroot/changelog/v0.9.29.md
Owners: @MindWorkAI/net-experts

Fixed a layout bug within the chat page (#294)
  app/MindWork AI Studio/Components/ProviderSelection.razor
  app/MindWork AI Studio/wwwroot/changelog/v0.9.29.md
Owners: @MindWorkAI/net-experts

Prepared release v0.9.29
  app/MindWork AI Studio/Components/Changelog.Logs.cs
  app/MindWork AI Studio/wwwroot/changelog/v0.9.29.md
  metadata.txt
Owners: @MindWorkAI/net-experts, @MindWorkAI/maintainer

Prepared release v0.9.29 (#295)
  app/MindWork AI Studio/Components/Changelog.Logs.cs
  app/MindWork AI Studio/wwwroot/changelog/v0.9.29.md
  metadata.txt
Owners: @MindWorkAI/net-experts, @MindWorkAI/maintainer

Fixed the date of the release
  app/MindWork AI Studio/Components/Changelog.Logs.cs
  app/MindWork AI Studio/wwwroot/changelog/v0.9.29.md
Owners: @MindWorkAI/net-experts

Fixed the date of the release (#296)
  app/MindWork AI Studio/Components/Changelog.Logs.cs
  app/MindWork AI Studio/wwwroot/changelog/v0.9.29.md
Owners: @MindWorkAI/net-experts

Fixed formatting
  app/MindWork AI Studio/Redirect.cs
Owners: @MindWorkAI/net-experts

Added rule regarding the random class
  app/SourceCodeRules/SourceCodeRules/AnalyzerReleases.Shipped.md
  app/SourceCodeRules/SourceCodeRules/Identifier.cs
  app/SourceCodeRules/SourceCodeRules/UsageAnalyzers/RandomInstantiationAnalyzer.cs
Owners: @MindWorkAI/release, @SommerEngineering

Implemented the new models API for the Anthropic provider
  app/MindWork AI Studio/Provider/Anthropic/ProviderAnthropic.cs
  app/MindWork AI Studio/wwwroot/changelog/v0.9.30.md
Owners: @MindWorkAI/net-experts

Implemented the new models API for the Anthropic provider (#297)
  app/MindWork AI Studio/Provider/Anthropic/ProviderAnthropic.cs
  app/MindWork AI Studio/wwwroot/changelog/v0.9.30.md
Owners: @MindWorkAI/net-experts

Prepared release v0.9.30
  app/MindWork AI Studio/Components/Changelog.Logs.cs
  app/MindWork AI Studio/packages.lock.json
  app/MindWork AI Studio/wwwroot/changelog/v0.9.30.md
  metadata.txt
  runtime/Cargo.lock
  runtime/Cargo.toml
  runtime/tauri.conf.json
Owners: @MindWorkAI/net-experts, @MindWorkAI/maintainer, @MindWorkAI/rust-experts

Prepared release v0.9.30 (#298)
  app/MindWork AI Studio/Components/Changelog.Logs.cs
  app/MindWork AI Studio/packages.lock.json
  app/MindWork AI Studio/wwwroot/changelog/v0.9.30.md
  metadata.txt
  runtime/Cargo.lock
  runtime/Cargo.toml
  runtime/tauri.conf.json
Owners: @MindWorkAI/net-experts, @MindWorkAI/maintainer, @MindWorkAI/rust-experts

Added this usage rule & code fix
  app/SourceCodeRules/SourceCodeRules/AnalyzerReleases.Shipped.md
  app/SourceCodeRules/SourceCodeRules/Identifier.cs
  app/SourceCodeRules/SourceCodeRules/UsageAnalyzers/ThisUsageAnalyzer.cs
  app/SourceCodeRules/SourceCodeRules/UsageCodeFixes/ThisUsageCodeFixProvider.cs
Owners: @MindWorkAI/release, @SommerEngineering

Added switch expression method analyzer & code fix
  app/SourceCodeRules/SourceCodeRules/AnalyzerReleases.Shipped.md
  app/SourceCodeRules/SourceCodeRules/Identifier.cs
  app/SourceCodeRules/SourceCodeRules/StyleAnalyzers/SwitchExpressionMethodAnalyzer.cs
  app/SourceCodeRules/SourceCodeRules/StyleCodeFixes/SwitchExpressionMethodCodeFixProvider.cs
Owners: @MindWorkAI/release, @SommerEngineering

Applied code fix
  app/MindWork AI Studio/Assistants/ERI/AllowedLLMProvidersExtensions.cs
  app/MindWork AI Studio/Settings/DataModel/DataSourceTypeExtension.cs
  app/MindWork AI Studio/Settings/DataModel/ThemesExtensions.cs
Owners: @MindWorkAI/net-experts

Added an empty string analyzer & code fix
  app/SourceCodeRules/SourceCodeRules/AnalyzerReleases.Shipped.md
  app/SourceCodeRules/SourceCodeRules/Identifier.cs
  app/SourceCodeRules/SourceCodeRules/UsageAnalyzers/EmptyStringAnalyzer.cs
  app/SourceCodeRules/SourceCodeRules/UsageCodeFixes/EmptyStringCodeFixProvider.cs
Owners: @MindWorkAI/release, @SommerEngineering

Applied code fix
  app/MindWork AI Studio/Components/MudTextList.razor.cs
  app/MindWork AI Studio/Settings/SettingsMigrations.cs
Owners: @MindWorkAI/net-experts

Added a local const analyzer
  app/SourceCodeRules/SourceCodeRules/AnalyzerReleases.Shipped.md
  app/SourceCodeRules/SourceCodeRules/Identifier.cs
  app/SourceCodeRules/SourceCodeRules/NamingAnalyzers/LocalConstantsAnalyzer.cs
Owners: @MindWorkAI/release, @SommerEngineering

Renamed code fix & use it also for local consts
  app/SourceCodeRules/SourceCodeRules/NamingCodeFixes/ConvertToUpperCodeFixProvider.cs
Owners: @MindWorkAI/release, @SommerEngineering

.github/CODEOWNERS:

# The default rule is that the maintainers are responsible for everything:
* @MindWorkAI/maintainer

# The release team is responsible for anything inside the .github directory, such as workflows, actions, and issue templates:
/.github/ @MindWorkAI/release @SommerEngineering

# Our Rust experts are responsible for the Rust codebase:
/runtime/ @MindWorkAI/rust-experts

# Our .NET experts are responsible for the .NET codebase:
/app/ @MindWorkAI/net-experts

# The source code rules must be reviewed by the release team: 
/app/SourceCodeRules/ @MindWorkAI/release @SommerEngineering
