Repository MindWorkAI/AI-Studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MindWorkAI/maintainer, @MindWorkAI/release, @MindWorkAI/rust-experts, @MindWorkAI/net-experts

Added steps for macOS
  documentation/Setup.md
  documentation/macOS Damage.png
  documentation/macOS Mount.png
Owners: @MindWorkAI/maintainer

Fixed Intel
  documentation/Setup.md
Owners: @MindWorkAI/maintainer

Added border for better visibility
  documentation/macOS Mount.png
Owners: @MindWorkAI/maintainer

Added arrow to clarify action
  documentation/macOS Mount.png
Owners: @MindWorkAI/maintainer

Added sentence about automatic updates.
  documentation/Setup.md
Owners: @MindWorkAI/maintainer

Added sentence about scanner result interpretation.
  documentation/Setup.md
Owners: @MindWorkAI/maintainer

Added steps for DEB package installation
  documentation/Setup.md
  documentation/Ubuntu DEB Install 1.png
  documentation/Ubuntu DEB Install 2.png
  documentation/Ubuntu DEB Open.png
Owners: @MindWorkAI/maintainer

Added sentence about DEB compatibility
  documentation/Setup.md
Owners: @MindWorkAI/maintainer

Improved structure
  documentation/Setup.md
Owners: @MindWorkAI/maintainer

Added AppImage steps
  documentation/Setup.md
Owners: @MindWorkAI/maintainer

Extended AppImage handling
  documentation/Setup.md
  documentation/Ubuntu AppImage Permissions.png
  documentation/Ubuntu AppImage Properties.png
Owners: @MindWorkAI/maintainer

Spelling
  documentation/Setup.md
Owners: @MindWorkAI/maintainer

Added screenshot
  README.md
  documentation/Ai Studio.png
Owners: @MindWorkAI/maintainer

Fixed naming, part 1
  documentation/tmp.png
Owners: @MindWorkAI/maintainer

Fixed naming, part 2
  documentation/tmp.png
Owners: @MindWorkAI/maintainer

Rename Ai Studio.png to AI Studio.png
  documentation/AI Studio.png
Owners: @MindWorkAI/maintainer

Added border
  documentation/AI Studio.png
Owners: @MindWorkAI/maintainer

Adjusted spacing bottom
  documentation/AI Studio.png
Owners: @MindWorkAI/maintainer

Fixed license file's name
  app/MindWork AI Studio/build.nu
Owners: @MindWorkAI/net-experts

Fixed expected final executable name
  app/MindWork AI Studio/build.nu
Owners: @MindWorkAI/net-experts

Disable bundling for local dev builds
  app/MindWork AI Studio/build.nu
Owners: @MindWorkAI/net-experts

Refactored the build instruction into its own file
  README.md
  documentation/Build.md
Owners: @MindWorkAI/maintainer

Added sentence about changelog requirements
  documentation/Build.md
Owners: @MindWorkAI/maintainer

Added info about manually correcting the version number
  documentation/Build.md
Owners: @MindWorkAI/maintainer

Changed release settings to create a proper release
  .github/workflows/build-and-release.yml
Owners: @MindWorkAI/release

.github/CODEOWNERS:

# The default rule is that the maintainers are responsible for everything:
* @MindWorkAI/maintainer

# The release team is responsible for anything inside the .github directory, such as workflows, actions, and issue templates:
/.github/ @MindWorkAI/release

# The release team is responsible for the update directory:
/.updates/ @MindWorkAI/release

# Our Rust experts are responsible for the Rust codebase:
/runtime/ @MindWorkAI/rust-experts

# Our .NET experts are responsible for the .NET codebase:
/app/ @MindWorkAI/net-experts
